@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0c0a3e;
  color: #eee;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}
header,
footer {
  height: 80px;
  background-color: #383663;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 20px;
  width: 100%;
}
main {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.gameboard_container {
  width: 600px;
  height: 600px;
}
.gameboard_line {
  width: 100%;
  display: flex;
  height: 10%;
  border-collapse: collapse;
}
.gameboard_cell {
  background-color: white;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ship, .placeship {
  background: green;
}
.colliding {
  background: rgb(187, 59, 59);
}
.hit::after {
  position: absolute;
  content: "";
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  pointer-events: none;
}
.enemy-ship-hit {
  background-color: rgb(65, 20, 20);
}
footer {
  margin-top: auto;
}
footer > a > img:hover {
  filter: opacity(0.7);
}
.modal__container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.show-modal {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
}
.gamemodes__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flex-y {
  flex-direction: column;
}
